In [1]:
#.Exercise 1: Your first DataFrame
import numpy as np
import pandas as pd


data = np.array([
    ['Blue', [1, 2], 1.1],
    ['Red', [3, 4], 2.2],
    ['Pink', [5, 6], 3.3],
    ['Grey', [7, 8], 4.4],
    ['Black', [9, 10], 5.5]
], dtype=object)

index = [1,3,5,7,9]
columns = ['color', 'list', 'number']

df_np = pd.DataFrame(data, index=index, columns=columns)

print("From NumPy array:")
print(df_np)
print("\nColumn types:")
print(df_np.dtypes)
print("\nType of first value in each column:")

for col in df_np.columns: 
    print(f"{col}: {type(df_np.iloc[0][col])}")

From NumPy array:
   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

Column types:
color     object
list      object
number    object
dtype: object

Type of first value in each column:
color: <class 'str'>
list: <class 'list'>
number: <class 'float'>

In [2]:
import pandas as pd
colors = pd.Series(['Blue', 'Red', 'Pink','Grey','Black'], index=[1, 3, 5, 7, 9])
lists = pd.Series([[1, 2],[3, 4],[5, 6], [7, 8],[9, 10]], index=[1, 3, 5, 7, 9])
numbers = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], index=[1, 3, 5, 7, 9])

df_series = pd.DataFrame({'color': colors, 'lists': lists, 'number':numbers})
print("\nFrom Pandas Series:")
print(df_series)
print("\nColumn types:")
print(df_series.dtypes)
print("\nType of first value in each column:")

for col in df_series.columns:
    print(f"{col}: {type(df_series.iloc[0][col])}")

From Pandas Series:
   color    lists  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

Column types:
color      object
lists      object
number    float64
dtype: object

Type of first value in each column:
color: <class 'str'>
lists: <class 'list'>
number: <class 'numpy.float64'>

In [3]:
import pandas as pd
colors = pd.Series(['Blue', 'Red', 'Pink','Grey','Black'], index=[1, 3, 5, 7, 9])
lists = pd.Series([[1, 2],[3, 4],[5, 6], [7, 8],[9, 10]], index=[1, 3, 5, 7, 9])
numbers = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], index=[1, 3, 5, 7, 9])

df_series = pd.DataFrame({'color': colors, 'lists': lists, 'number':numbers})
print("\nFrom Pandas Series:")
print(df_series)
print("\nColumn types:")
print(df_series.dtypes)
print("\nType of first value in each column:")

for col in df_series.columns:
    print(f"{col}: {type(df_series.iloc[0][col])}")

From Pandas Series:
   color    lists  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

Column types:
color      object
lists      object
number    float64
dtype: object

Type of first value in each column:
color: <class 'str'>
lists: <class 'list'>
number: <class 'numpy.float64'>

In [7]:
# Exercise 2: Electric power consumption

import pandas as pd

# --- Question 1: Delete columns ---
# Read CSV with separator and handle missing values ('?')
household_power_consumptioncsv_url='https://assets.01-edu.org/ai-branch/piscine-ai/household_power_consumption.txt'
df = pd.read_csv(household_power_consumptioncsv_url, sep=";", na_values=['?'])

# Drop unused columns (Time, Sub_metering_2, Sub_metering_3)
df.drop([ 'Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, inplace=True)



df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df.set_index('Date', inplace=True)
print("--- Question 2: Set Date as Index ---")
print(df.index[:5])        # just show first 5 entries of the index            # this will print as a DatetimeIndex
print("\n")

# --- Question 3: Data Types ---
print("--- Question 3: Data Types ---")
print(df.dtypes)
print("\n")

# --- Question 4: Describe DataFrame ---
print("--- Question 4: Describe DataFrame ---")
print(df.describe())
print("\n")

# --- Question 5: Delete rows with missing values ---
print("Number of rows with missing values:", df.isna().sum().sum())
df.dropna(inplace=True)
print("Number of rows after dropna:", len(df))
print("Missing values remaining:", df.isna().sum().sum())
print("\n")

# --- Question 6: Modify Sub_metering_1 ---
df.loc[:, 'Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06
print("--- Question 6: Modified Sub_metering_1 ---")
print(df['Sub_metering_1'].head())
print("\n")

# --- Question 7: Select rows by conditions ---
filtered_df = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]
print("--- Question 7: Filtered DataFrame ---")
print(filtered_df[['Global_active_power', 'Global_reactive_power']].head().to_markdown())
print("\n")

# --- Question 8: Print Specific Row (88888th row) ---
print("--- Question 8: Print Specific Row ---")
row_88888 = df.iloc[88887]  # iloc is zero-based
print(row_88888)
print("\n")

# --- Question 9: Date with Max Global_active_power ---
daily_avg = df['Global_active_power'].groupby(df.index.date).mean()
max_date = daily_avg.idxmax()
print("--- Question 9: Date with Max Global_active_power ---")
print(f"Date with max Global_active_power: {pd.to_datetime(max_date)}")
print("\n")


# --- Question 10: Sort first three columns ---
sorted_df = df.sort_values(['Global_active_power', 'Voltage'], ascending=[False, True])
print("--- Question 10: Tail of Sorted DataFrame ---")
print(sorted_df.iloc[:, :3].tail().to_markdown())
print("\n")

# --- Question 11: Daily Average of Global_active_power ---
daily_avg = df['Global_active_power'].groupby(df.index.date).mean()
daily_avg.index.name = "Date"   # rename for audit
print("--- Question 11: Daily Average Power ---")
print(daily_avg)

--- Question 2: Set Date as Index ---
DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)


--- Question 3: Data Types ---
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object


--- Question 4: Describe DataFrame ---
       Global_active_power  Global_reactive_power       Voltage  \
count         2.049280e+06           2.049280e+06  2.049280e+06
mean          1.091615e+00           1.237145e-01  2.408399e+02
std           1.057294e+00           1.127220e-01  3.239987e+00
min           7.600000e-02           0.000000e+00  2.232000e+02
25%           3.080000e-01           4.800000e-02  2.389900e+02
50%           6.020000e-01           1.000000e-01  2.410100e+02
75%           1.528000e+00           1.940000e-01  2.428900e+02
max           1.112200e+01           1.390000e+00  2.541500e+02

       Global_intensity  Sub_metering_1
count      2.049280e+06    2.049280e+06
mean       4.627759e+00    1.121923e+00
std        4.444396e+00    6.153031e+00
min        2.000000e-01    0.000000e+00
25%        1.400000e+00    0.000000e+00
50%        2.600000e+00    0.000000e+00
75%        6.400000e+00    0.000000e+00
max        4.840000e+01    8.800000e+01


Number of rows with missing values: 129895
Number of rows after dropna: 2049280
Missing values remaining: 0


--- Question 6: Modified Sub_metering_1 ---
Date
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
Name: Sub_metering_1, dtype: float64


--- Question 7: Filtered DataFrame ---
| Date                |   Global_active_power |   Global_reactive_power |
|:--------------------|----------------------:|------------------------:|
| 2008-12-27 00:00:00 |                 0.996 |                   0.066 |
| 2008-12-27 00:00:00 |                 1.076 |                   0.162 |
| 2008-12-27 00:00:00 |                 1.064 |                   0.172 |
| 2008-12-27 00:00:00 |                 1.07  |                   0.174 |
| 2008-12-27 00:00:00 |                 0.804 |                   0.184 |


--- Question 8: Print Specific Row ---
Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64


--- Question 9: Date with Max Global_active_power ---
Date with max Global_active_power: 2006-12-23 00:00:00


--- Question 10: Tail of Sorted DataFrame ---
| Date                |   Global_active_power |   Global_reactive_power |   Voltage |
|:--------------------|----------------------:|------------------------:|----------:|
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    234.88 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.18 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.4  |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.64 |
| 2008-08-12 00:00:00 |                 0.076 |                       0 |    236.5  |


--- Question 11: Daily Average Power ---
Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Name: Global_active_power, Length: 1433, dtype: float64

In [11]:
# Exercise 3: E-commerce purchases
#Ecommerce_purchasestxt_url='https://github.com/01-edu/public/blob/master/subjects/ai/pandas/data/Ecommerce_purchases.txt'
#wondering why using url fails 
df = pd.read_csv('Ecommerce_purchases.txt')

# 1. How many rows and columns are there?
print(df.shape)
print("\n")

# 2. What is the average Purchase Price?
print(df['Purchase Price'].mean())
print("\n")

# 3. What were the highest and lowest purchase prices?
print(df['Purchase Price'].max())
print(df['Purchase Price'].min())
print("\n")

# 4. How many people have English 'en' as their Language of choice?
print(df[df['Language'] == 'en'].shape[0])
print("\n")

# 5. How many people have the job title of "Lawyer"?
print(df[df['Job'] == 'Lawyer'].shape[0])
print("\n")

# 6. How many people made the purchase during the AM and how many during PM?
print(df['AM or PM'].value_counts())
print("\n")

# 7. What are the 5 most common Job Titles?
print(df['Job'].value_counts().head(5))
print("\n")

# 8. Purchase Price for Lot "90 WT"
print(df[df['Lot'] == '90 WT'] ['Purchase Price'].values[0])
print("\n")

# 9. Email of person with Credit Card Number 4926535242672853
print(df[df['Credit Card'] == 4926535242672853] ['Email'].values[0])
print("\n")

# 10. American Express users with purchase above $95
print(df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)].shape[0])
print("\n")

# 11. People with credit card expiring in 2025
print(df[df['CC Exp Date'].apply(lambda x: x.split('/')[1] == '25')].shape[0])
print("\n")

# 12. Top 5 most popular email providers/hosts
print(df['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5).to_string())

(10000, 14)


50.347302


99.99
0.0


1098


30


AM or PM
PM    5068
AM    4932
Name: count, dtype: int64


Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64


75.1


bondellen@williams-garza.com


39


1033


Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37

In [15]:
# Exercise 4: Handling missing values
#iriscsv_url='https://github.com/01-edu/public/blob/master/subjects/ai/pandas/data/iris.csv'
df = pd.read_csv('iris.csv', sep=",")

# Drop the flower column 
df.drop('flower', axis=1, inplace=True)

# Convert numeric columns explicitly
numeric_cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Fill missing values with the required strategies
df['sepal_length'] = df['sepal_length'].fillna(df['sepal_length'].mean())
df['sepal_width'] = df['sepal_width'].fillna(df['sepal_width'].median())
df['petal_length'] = df['petal_length'].fillna(0)
df['petal_width'] = df['petal_width'].fillna(0)

# Validation
print(df.isnull().sum())
print("\n")
print(df.describe())      # see outliers effect

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64


       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean      56.907534    49.648000     12.423333    11.786000
std      564.489133   404.506037    114.078057   130.550042
min       -4.400000    -3.600000     -4.800000    -2.500000
25%        5.100000     2.800000      1.300000     0.225000
50%        5.800000     3.000000      4.000000     1.300000
75%        6.500000     3.300000      4.975000     1.800000
max     6900.000000  3809.000000   1400.000000  1600.000000